@{
    ViewData["Title"] = "About";
}

<body>
    <div class="column">
       
        <h1 style="font-family:'Indie Flower',sans-serif">@ViewData["Title"]</h1>

        @*Q Change Logo Here*@
        <img src="~/css/logo.png" alt="CropedLogo" width="500" height="300" style="display: block; margin-right:auto; margin-left: auto;" />
    </div>

    @*Q Change Box Colour Here*@
    <div class="column">
        <p>
            <i>
                <b>
                    Description
                </b>
            </i>
            <br />
            <br />
                <h1 style="font-family:'Indie Flower',sans-serif">CONTACT US</h1>

            <i>
                <b>
                    Get in touch  <br />
                    <br />
                    q@gmail.com
                </b>
            </i>
        </p>
    </div>
</body>
