@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4" style="font-family:'Indie Flower',sans-serif">Welcome to </h1>
    
    @*Q Change Logo Here*@
    <img src="~/css/logo.png" width="500" height="300"/>

    <h1 class="display-4" style="font-family:'Indie Flower',sans-serif">ContentManager</h1>

    <p>
        <i>
            <b>
                Description
            </b>
        </i>
       
    </p>
</div>
